__tests__/
._*
.DS_Store
.github/
.husky/
.idea/
.vscode/
docs/
node_modules/
src/
.gitignore
.npmrc
.release-please-config.json
build.ts
bun.lock
bunfig.toml
CHANGELOG.md
commitlint.config.js
release-please-config.json
tsconfig.json